<h1>Lista partidos</h1>
<div class="row">

    <div class="col-md-12" ng-controller ='ListarPartidosController as editor'>

        <button class="btn btn-default" ng-click="editor.newMatch()" style="margin-bottom: 10px">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <span>Nuevo Partido</span>
        </button>

        <table ng-table="editor.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
            <tr ng-repeat="match in $data">
                <td title="'Equipo A'" filter="{ 'team_a.name': 'text'}" sortable="'team_a.name'">
                    <img width="35px" src="{{match.team_a.logo}}"> {{match.team_a.name}}
                </td>
                <td title="'Equipo B'" filter="{ 'team_b.name': 'text'}" sortable="'team_b.name'">
                    <img width="35px" src="{{match.team_b.logo}}"> {{match.team_b.name}}
                </td>
                <td title="'Jornada'" filter="{ round: 'text'}" sortable="'round'" class="text-center">
                    {{ match.round }}
                </td>
                <td title="'Competicion'" filter="{ 'CompetitionGameId': 'select'}" filter-data="editor.competitions"
                    class="text-center" style="width: 10%">
                    {{match.CompetitionGameId | adaptCompetition:'SHL'}}
                </td>
                <td title="'Temporada'" filter="{ season: 'text'}" sortable="'season'" class="text-center">
                    {{ match.season }}
                </td>
                <!-- Sergio 8/04  -->
                <td title="'Terminado'" class="text-center">
                    <input type="checkbox" ng-disabled="true" ng-model=" match.finished">
                </td>
                <!-- -->
                <td title="'Fecha'" filter="{ start_date: 'text'}" sortable="'start_date'" class="text-center">
                    {{match.start_date | date : 'dd/MM/yyyy HH:mm' }}
                </td>
                <td title="'Editar'" class="text-center">
                    <button class="btn btn-default" ng-click="editor.editMatch(match.id)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>