<!doctype html>
<html lang="en">
<head>
    <title>E-Sports Calendar Editor</title>
    <link rel="icon" href="img/beta_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/datetimepicker.css"/>


    <script src="jquery-3.1.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/datetimepicker.js"></script>
    <script type="text/javascript" src="js/datetimepicker.templates.js"></script>
</head>
<body ng-app="esportscalendar">

<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img alt="Brand" src="img/beta_icon.png" width="20px" height="20px">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Competicion </a></li>
                <li><a href="partidos.html">Partidos</a></li>
                <li class="active"><a href="equipos.html">Equipos <span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container"  ng-controller="EditorEquiposController as editor">
    <h1>Equipos</h1>
    {{editor.model}}

    <div class="row">

        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="nombreEquipo">Nombre Equipo:</label>
                    <input type="text" class="form-control" id="nombreEquipo" ng-model="editor.model.name">
                </div>

                <div class="form-group">
                    <label for="descripcionEquipo">Descripcion del equipo:</label>
                    <input type="text" class="form-control" id="descripcionEquipo" ng-model="editor.model.descripcion">
                </div>

                <div class="form-group controls">
                    <div>
                        <label>Redes Sociales: (Presiona + para añadir una red social)</label>
                        <div ng-repeat="social in editor.model.social">
                            <select ng-model="social.name" class="form-control" id="sel1" style="margin-bottom: 10px">
                                <option value="twitter">Twitter</option>
                                <option value="facebook">Facebook</option>
                                <option value="youtube">Youtube</option>
                                <option value="twitch">Twitch</option>
                            </select>
                            <input ng-model="social.url" autocomplete="off" class="input form-control" type="text" placeholder="Introduce la red social" data-items="8"/>
                            <button ng-if="editor.model.social.length == $index + 1" ng-click="editor.addSocialNetwork()" class="btn add-more" type="button" style="margin: 10px">+</button>
                            <button ng-hide="editor.model.social.length == $index + 1" ng-click="editor.removeSocialNetwork($index)" class="btn add-more" type="button" style="margin: 10px">-</button>
                        </div>

                    </div>
                    <br>
                </div>

                <div class="form-group controls">
                        <div id="field">
                            <label>Roster: (Presiona + para añadir un nuevo jugador)</label>
                            <div ng-repeat="player in editor.model.player">
                                <input autocomplete="off" class="input form-control" type="text" placeholder="Introduce la posicion del jugador" data-items="8" style="margin-bottom: 10px"/>
                                <input autocomplete="off" class="input form-control" type="text" placeholder="Introduce el nombre del jugador" data-items="8"/>
                                <button ng-if="editor.model.player.length == $index + 1" ng-click="editor.addPlayer()" class="btn add-more" type="button" style="margin: 10px">+</button>
                                <button ng-hide="editor.model.player.length == $index + 1" ng-click="editor.removePlayer($index)" class="btn add-more" type="button" style="margin: 10px">-</button>
                            </div>

                    <br>

                </div>

                <a ng-click="editor.add()" class="btn btn-default">Añadir Equipo</a>
            </form>
        </div>
    </div>

        <div class="col-md-6">
            <h2>Equipos añadidos:</h2>
            <ul>
                <li ng-repeat="item in editor.list" style="margin-bottom: 5px">
                <a ng-click="editor.removeTeam($index)" class="btn btn-default btn-danger"> X </a>
                    {{item.name}}
                </li>
            </ul>
            <div ng-if="!editor.list.length" class="emptyMessage">Ningún equipo añadido.</div>
            <br>
            <a ng-click="editor.generate()" ng-href="{{fileUrl}}" download="teams.json" class="btn btn-default">Descargar</a>
        </div>
</div>
</body>
</html>
