<!doctype html>
<html lang="en">
<head>
    <title>E-Sports Calendar Editor</title>
    <link rel="icon" href="img/beta_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/datetimepicker.css"/>


    <script src="jquery-3.1.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/datetimepicker.js"></script>
    <script type="text/javascript" src="js/datetimepicker.templates.js"></script>
</head>
<body ng-app="esportscalendar">

<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="img/beta_icon.png" width="20px" height="20px">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Competicion <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="partidos.html">Partidos</a></li>
                <li><a href="#">Equipos</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container" ng-controller="EditorPartidosController as editor">
    <h1>Partidos</h1>

    <div class="row">

        {{editor.model | json}}

        <form>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Fecha y hora:</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" href="#">
                            <div class="input-group"><input type="text" class="form-control"
                                                            data-ng-model="editor.model.date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="editor.model.date"
                                            data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"/>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="equipoA">Equipo A:</label>
                    <input type="text" class="form-control" id="equipoA" placeholder="Nombre del Equipo A"
                           ng-model="editor.model.teamA.name">
                </div>
                <div class="form-group">
                    <label for="resultadoEquipoA">Resultado Equipo A:</label>
                    <input type="number" min="0" class="form-control" id="resultadoEquipoA"
                           ng-model="editor.model.teamA.result">
                </div>
                <button ng-click="editor.add()" class="btn btn-default">Añadir</button>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="equipoB">Equipo B:</label>
                    <input type="text" class="form-control" id="equipoB" placeholder="Nombre Equipo B"
                           ng-model="editor.model.teamB.name">
                </div>
                <div class="form-group">
                    <label for="resultadoEquipoB">Resultado Equipo B:</label>
                    <input type="number" min="0" class="form-control" id="resultadoEquipoB"
                           ng-model="editor.model.teamB.result">
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Partidos añadidos:</h2>
            <ul>
                <li ng-repeat="item in editor.list">
                    {{item}}
                </li>
            </ul>
            <div ng-if="!editor.list.length" class="emptyMessage">Ningún partido añadido.</div>
            <br>
            <a ng-click="editor.generate()" ng-href="{{fileUrl}}" download="match.json" class="btn btn-default">Descargar</a>
        </div>
    </div>

</body>
</html>
